<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>
<th:block layout:fragment="script">
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function(){-->
<!--            var errorMessage = [[${errorMessage}]];-->
<!--            if (errorMessage != null) {-->
<!--               alert(errorMessage);-->
<!--            }-->
<!--        });-->
<!--    </script>-->
</th:block>
<div id="wrap">
    <div class="center">
        <div th:replace="fragments/header::header"></div>
        <div class="registration-container">
            <h2>회원가입</h2>
            <form class="registration-form" action="register" method="post" th:object="${memberFormDto}">
                <!--object선언-->
                <input type="text" th:field="*{name}" name="name" placeholder="이름 (한글 및 영문만 입력 가능)" required pattern="[a-zA-Z가-힣]+">
                <!--db이름과 다 똑같이 맞추기-->
                <input type="text" th:field="*{nickname}" name="nickname" placeholder="아이디 (영문 소문자와 숫자, 20자 이내)" required pattern="[a-z0-9]{1,20}">
                <input type="password" th:field="*{password}" name="password" placeholder="비밀번호 (영문, 숫자, 특수문자 조합, 8자 이상 16자 이하)" required
                       pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*?~]).{8,}$">
                <input type="text" th:field="*{birthday}" name="birthday" placeholder="생년월일 8자리 숫자">
                <input type="tel" th:field="*{phone}" name="phone" placeholder="핸드폰 번호" required>
                <input type="email" th:field="*{email}" name="email" placeholder="이메일 주소" required>
                <select name="gender" th:field="*{gender}">
                    <option value="남">남</option>
                    <option value="여">여</option>
                </select>
                <button name="address">주소</button>
                <input type="text" th:field="*{addressMain}" name="address-main" placeholder="주소">
                <input type="text" th:field="*{addressSub}" name="address-sub" placeholder="상세주소">
                <button type="submit">가입하기</button>
            </form>

        </div>
        <!--thymeleaf footer 불러오기 -->
        <div th:replace="fragments/footer::footer"></div>
    </div>
</div>
</body>
</html>