<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <div class="top">
        <div class="top_nav">
            <div class="logo">
                <a href ="main"><img src="/img/logo.png"></a>
            </div>
            <div class="search_box">
                <input type="text" id="search_box" placeholder="검색어를 입력해주세요">
            </div>
            <div class="login">
                <ul class="clearfix">
                    <li><a href="login">로그인</a></li>
                    <li><a href="register">회원가입</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <ul class="clearfix main_menu">
                <li><a href="package"><img src="/img/icons8-비행기-48.png" alt="">패키지 여행</a></li>
                <li><a href="post"><img src="/img/icons8-게시판-48.png" alt="">게시판</a></li>
                <li><a href="auction"><img src="/img/icons8-법-48.png" alt="">경매</a></li>
                <li><a href="#"><img src="/img/icons8-sparkles-48.png" alt="">특가</a></li>
                <li><a href="mypage"><img src="/img/icons8-이야기-책-48.png" alt="">마이페이지</a></li>
                <li><a href="pocket"><img src="/img/icons8-바구니-30.png" alt="">장바구니</a></li>
            </ul>
        </nav>
    </div>
</div>
</html>