<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지 구상</title>
    <link rel="stylesheet" href="/css/auction.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/layout.js"></script>
</head>
<body>
<div id="wrap">
    <div class="center">
        <div class="top">
            <div class="top_nav">
                <div class="logo">
                    <p>Share tour</p>
                </div>
                <div class="search_box">
                    <input type="text" id="search_box" placeholder="검색어를 입력해주세요">
                </div>
                <div class="login">
                    <ul class="clearfix">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <nav>
                <ul class="clearfix main_menu">
                    <li><a href="#"><img src="/img/icons8-비행기-48.png" alt="">패키지 여행</a></li>
                    <li><a href="#"><img src="/img/icons8-게시판-48.png" alt="">게시판</a></li>
                    <li><a href="auction.html"><img src="/img/icons8-법-48.png" alt="">경매</a></li>
                    <li><a href="#"><img src="/img/icons8-sparkles-48.png" alt="">특가</a></li>
                    <li><a href="#"><img src="/img/icons8-이야기-책-48.png" alt="">마이페이지</a></li>
                    <li><a href="#"><img src="/img/icons8-바구니-30.png" alt="">장바구니</a></li>
                </ul>
            </nav>
        </div>

        <div class="package_product">
            <div class="text">
                <img src="/img/auction.png" alt="">
                <p>경매상품</p>
            </div>

            <div>
                <div class="travel_package">
                    <div class="package_img">
                        <img src="/img/숙소1.png" alt="package1">
                    </div>
                    <div class="t1">
                        <h1>별빛가득 독채</h1>
                        <div class="d_block">
                            <span>시작가</span>
                            <span class="starting-price">400,000</span>
                        </div>
                        <br>
                        <div class="d_block">
                            <span>현재가</span>
                            <span class="starting-price">600,000</span>
                        </div>
                        <br>
                        <br>
                        <hr style="border:0; height:1px; background: #e6e3e3;">
                        <div class="countdown-container">
                            <span class="d_rest">남은 시간</span>
                            <img src="/img/free-icon-timer-8163007.png" alt="" class="timerImg">
                            <div class="countdown-el days-c">
                                <p class="big-text" id="days">0</p>
                                <span>days</span>
                            </div>
                            <div class="countdown-el hours-c">
                                <p class="big-text" id="hours">0</p>
                                <span>hours</span>
                            </div>
                            <div class="countdown-el mins-c">
                                <p class="big-text" id="mins">0</p>
                                <span>mins</span>
                            </div>
                            <div class="countdown-el seconds-c">
                                <p class="big-text" id="seconds">0</p>
                                <span>seconds</span>
                            </div>
                        </div>
                        <div style="margin:auto;">
                            <button type="button" class="sellBtn" onclick="location.href ='auctionplus'">입찰하기</button>
                        </div>
                    </div>
                </div>
                <hr>


                <div>
                    <div class="travel_package">
                        <div class="package_img">
                            <img src="/img/숙소2.png" alt="package1">
                        </div>
                        <div class="t2">
                            <h1>은하수 이글루</h1>
                            <div class="d_block">
                                <span>시작가</span>
                                <span class="starting-price">400,000</span>
                            </div>
                            <br>
                            <div class="d_block">
                                <span>현재가</span>
                                <span class="starting-price">600,000</span>
                            </div>
                            <br>
                            <br>
                            <hr style="border:0; height:1px; background: #e6e3e3;">
                            <div class="countdown-container1">
                                <span class="d_rest1">남은 시간</span>


                            </div>
                            <div style="margin:auto;">
                                <button type="button" class="sellBtn" onclick="location.href = 'info' ">입찰하기</button>
                            </div>
                        </div>
                    </div>
                    <hr>


                    <div class="travel_package">
                        <div class="package_img">
                            <img src="/img/숙소3.png" alt="package1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="footer_top">
        <div class="footer_logo">
            <p>Share tour</p>
        </div>
    </div>
</footer>
</html>