<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지 구상</title>
    <link rel="stylesheet" href="/css/auction.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/layout.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="center">
            <div class="top">
                <div class="top_nav">
                    <div class="logo">
                        <img src="/img/logo.png">
                    </div>
                    <div class="search_box">
                        <input type="text" id="search_box" placeholder="검색어를 입력해주세요">
                    </div>
                    <div class="login">
                        <ul class="clearfix">
                            <li><a href="#">로그인</a></li>
                            <li><a href="#">회원가입</a></li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <ul class="clearfix main_menu">
                        <li><a href="#"><img src="/img/icons8-비행기-48.png" alt="">패키지 여행</a></li>
                        <li><a href="#"><img src="/img/icons8-게시판-48.png" alt="">게시판</a></li>
                        <li><a href="auction"><img src="/img/icons8-법-48.png" alt="">경매</a></li>
                        <li><a href="#"><img src="/img/icons8-sparkles-48.png" alt="">특가</a></li>
                        <li><a href="#"><img src="/img/icons8-이야기-책-48.png" alt="">마이페이지</a></li>
                        <li><a href="#"><img src="/img/icons8-바구니-30.png" alt="">장바구니</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
