<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="slide_bg">
        <div class="slide_center">
            <div class="slide_wrap">
                <ul class="slide">
                    <li><a href=""><img src="배너.jfif" alt=""></a></li>
                    <li><a href=""><img src="배너2.jpg" alt=""></a></li>
                    <li><a href=""><img src="속초.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="package_product">
        <div class="text">
            <img src="가방.png" alt="">
            <p>이 패키지 어때?</p>
        </div>
        <div class="travel_package">
            <div class="package_img">
                <div class="box">
                    <div class="box_img">
                        <img src="hiking.jfif" alt="">
                    </div>
                    <div class="box_info">
                        <p>속초 여행 패키지</p>
                    </div>
                </div>
                <div class="box">
                    <div class="box_img">
                        <img src="sea.jfif" alt="">
                    </div>
                    <div class="box_info">
                        <p>제주 여행 패키지</p>
                    </div>
                </div>
                <div class="box">
                    <div class="box_img">
                        <img src="turkiye.jfif" alt="">
                    </div>
                    <div class="box_info">
                        <p>부산 여행 패키지</p>
                    </div>
                </div>
                <div class="box">
                    <div class="box_img">
                        <img src="mountain.jpg" alt="">
                    </div>
                    <div class="box_info">
                        <p>춘천 여행 패키지</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sale">
        <a href="#">*경매페이지 출력 예정*</a>
    </div>
</div>