<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지 구상</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/layout.js"></script>
</head>
<body>
<div id="wrap">
    <div class="center">
        <div class="top">
            <div class="top_nav">
                <div class="logo">
                    <p>Share tour</p>
                </div>
                <div class="search_box">
                    <input type="text" id="search_box" placeholder="검색어를 입력해주세요">
                </div>
                <div class="login">
                    <ul class="clearfix">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <nav>
                <ul class="clearfix main_menu">
                    <li><a href="#"><img src="/img/icons8-비행기-48.png" alt="">패키지 여행</a></li>
                    <li><a href="#"><img src="/img/icons8-게시판-48.png" alt="">게시판</a></li>
                    <li><a href="auction"><img src="/img/icons8-법-48.png" alt="">경매</a></li>
                    <li><a href="#"><img src="/img/icons8-sparkles-48.png" alt="">특가</a></li>
                    <li><a href="#"><img src="/img/icons8-이야기-책-48.png" alt="">마이페이지</a></li>
                    <li><a href="#"><img src="/img/icons8-바구니-30.png" alt="">장바구니</a></li>
                </ul>
            </nav>
        </div>
        <div class="slide_wrap">
            <ul class="slide">
                <li><img src="/img/110.png" alt=""></li>
                <li><img src="/img/111.png" alt=""></li>
                <li><img src="/img/112.png" alt=""></li>
            </ul>
            <div class="buuton">
                <div class="next">
                    <img src="/img/오른쪽.png" alt="">
                </div>
                <div class="pre">
                    <img src="/img/왼쪽.png" alt="">
                </div>
            </div>
        </div>
        <div class="package_product">
            <div class="text">
                <img src="/img/가방.png" alt="">
                <p>이 패키지 어때?</p>
            </div>
            <div class="travel_package">
                <div class="package_img">
                    <img src="/img/turkiye.jfif" alt="package1">
                    <img src="/img/sea.jfif" alt="package2">
                    <img src="/img/mountain.jpg" alt="package3">
                    <img src="/img/hiking.jfif" alt="package4">
                </div>
            </div>
        </div>
        <div class="sale">
            <div id="timer">
            </div>
            <div class="sale_product">
                <img src="/img/특가.jpg" alt="">
            </div>
        </div>
        <footer>
            <div class="footer_top">
                <div class="footer_logo">
                    <p>Share tour</p>
                </div>
                <div class="footer_nav">
                    <ul class="footer_li">
                        <li><a href="#">패키지 여행</a></li>
                        <li><a href="#">게시판</a></li>
                        <li><a href="#">경매</a></li>
                        <li><a href="#">특가</a></li>
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">장바구니</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_info">
                <p>저희 1팀의 프로젝트 메인페이지 구상입니다</p>
                <p>사업자:김태인, 박상범, 전창민, 최연우, 한아름</p>
                <p>지금까지 1팀의 메인페이지 구성이었습니다. 지금까지 봐주셔서 감사합니다. 앞으로 지금보다 더
                    발전될 수 있는 팀이 되어 업그레이드 버전을 팀원들과 열심히 제작하도록 하겠습니다 감사합니다
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>