<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지 구상</title>
    <!--thymeleaf script, css 불러오기-->
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/layout.js"></script>
</head>
<body>
<div id="wrap">
        <!--thymeleaf header 불러오기-->
        <div th:replace="fragments/header::header"></div>
    <div class="slide_bg">
        <div class="slide_center">
            <div class="slide_wrap">
                <ul class="slide">
                    <li><img src="배너.jfif" alt=""></li>
                    <li><img src="배너2.jpg" alt=""></li>
                    <li><img src="속초.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="package_product">
        <div class="text">
            <img src="가방.png" alt="">
            <p>이 패키지 어때?</p>
        </div>
        <div class="travel_package">
            <div class="package_img">
                <div class="box">
                    <div class="box_img">
                        <img src="hiking.jfif" alt="">
                    </div>
                    <div class="box_info">
                        <p>속초 여행 패키지</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sale">
            <div id="timer">
            </div>
            <div class="sale_product">
                <img src="/img/특가.jpg" alt="">
            </div>
        </div>
        <!--thymeleaf footer 불러오기 -->
        <div th:replace="fragments/footer::footer"></div>
    </div>
</div>
</body>
</html>