<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package_tour</title>
    <link rel="stylesheet" href="/css/layout2.css">
    <script src="/js/jquery-1.12.3.js"></script>
</head>
<body>
<div id="wrap">
    <div class="center">
        <div class="top">
            <div class="top_nav">
                <div class="logo">
                    <img src="/img/logo.png" alt="">
                </div>
                <div class="search_box">
                    <input type="text" id="search_box" placeholder="검색어를 입력해주세요">
                </div>
                <div class="login">
                    <ul class="clearfix">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <nav>
                <ul class="clearfix main_menu" >
                    <li><a href="#"><img src="/img/icons8-비행기-48.png" alt="">패키지 여행</a></li>
                    <li><a href="#"><img src="/img/icons8-게시판-48.png" alt="">게시판</a></li>
                    <li><a href="#"><img src="/img/icons8-법-48.png" alt="">경매</a></li>
                    <li><a href="#"><img src="/img/icons8-sparkles-48.png" alt="">특가</a></li>
                    <li><a href="#"><img src="/img/icons8-이야기-책-48.png" alt="">마이페이지</a></li>
                    <li><a href="#"><img src="/img/icons8-바구니-30.png" alt="">장바구니</a></li>
                </ul>
            </nav>
        </div>
        <div class="top_text">
            <p>어디로 떠나세요?</p>
        </div>
        <div class="categories">
        <div class="category1">
            <select id="area" name="area">
                <option value="위치">위치</option>
                <option value="서울">서울</option>
                <option value="경기도">경기도</option>
                <option value="강원도">강원도</option>
                <option value="전라남도">전라남도</option>
                <option value="전라북도">전라북도</option>
                <option value="경상북도">경상북도</option>
                <option value="경상남도">경상남도</option>
                <option value="충청북도">충청북도</option>
                <option value="충청남도">충청남도</option>
                <option value="제주도">제주도</option>
            </select>
        </div>
        <div class="category2">
            <select id="landmarks" name="landmarks">
                <option value="랜드마크">랜드마크</option>
                <option value="애버랜드">애버랜드</option>
                <option value="서울랜드">서울랜드</option>
                <option value="롯데월드">롯데월드</option>
                <option value="관람차">관람차</option>
                <option value="창복궁">창복궁</option>
                <option value="예쁜 다리">예쁜 다리</option>
                <option value="풍경 좋은데">풍경 좋은데</option>
            </select>
        </div>
        <div class="category3">
            <select id="breakfast" name="breakfast">
                <option value="조식유무">조식유무</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
        </div>
        <div class="category4">
            <select id="accommodation" name="accommodation">
                <option value="숙박">숙박</option>
                <option value="호텔">호텔</option>
                <option value="팬션">팬션</option>
                <option value="모텔">모텔</option>
                <option value="료칸">료칸</option>
                <option value="아파트">아파트</option>
                <option value="단독주택">단독주택</option>
            </select>
        </div>
    </div>
    <div class="package_product">
        <div class="product_1">
            <img src="/img/속초.jpg" alt="">
            <div class="product_1_text">
                <p>속초아이관람차로 예쁜 배경을 볼 수 있는 속초</p>
                <strong>269,000원</strong>
            </div>
        </div>
        <div class="product_2">
            <img src="/img/속초.jpg" alt="">
            <div class="product_2_text">
                <p>속초아이관람차로 예쁜 배경을 볼 수 있는 속초</p>
                <strong>269,000원</strong>
            </div>
        </div>
        <div class="product_3">
            <img src="/img/속초.jpg" alt="">
            <div class="product_3_text">
                <p>속초아이관람차로 예쁜 배경을 볼 수 있는 속초</p>
                <strong>269,000원</strong>
            </div>
        </div>
        <div class="product_4">
            <img src="/img/속초.jpg" alt="">
            <div class="product_4_text">
                <p>속초아이관람차로 예쁜 배경을 볼 수 있는 속초</p>
                <strong>269,000원</strong>
            </div>
        </div>
        <div class="product_5">
            <img src="/img/속초.jpg" alt="">
            <div class="product_5_text">
                <p>속초아이관람차로 예쁜 배경을 볼 수 있는 속초</p>
                <strong>269,000원</strong>
            </div>
        </div>
        <div class="product_6">
            <img src="/img/속초.jpg" alt="">
            <div class="product_6_text">
                <p>속초아이관람차로 예쁜 배경을 볼 수 있는 속초</p>
                <strong>269,000원</strong>
            </div>
        </div>

    </div>
        <footer>
            <div class="footer_top">
                <div class="footer_logo">
                    <img src="/img/logo.png" alt="">
                </div>
                <div class="footer_nav">
                    <ul class="footer_li" >
                        <li><a href="#">패키지 여행</a></li>
                        <li><a href="#">게시판</a></li>
                        <li><a href="#">경매</a></li>
                        <li><a href="#">특가</a></li>
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">장바구니</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_info">
                <p>저희 1팀의 프로젝트 메인페이지 구상입니다</p>
                <p>사업자:김태인, 박상범, 전창민, 최연우, 한아름</p>
                <p>지금까지 1팀의 메인페이지 구성이었습니다. 지금까지 봐주셔서 감사합니다. 앞으로 지금보다 더
                    발전될 수 있는 팀이 되어 업그레이드 버전을 팀원들과 열심히 제작하도록 하겠습니다 감사합니다
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>