<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지 구상</title>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/css/auction.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/layout.js"></script>
</head>
<body>
<div id="wrap">
    <div class="center">
        <div th:replace="fragments/header::header"></div>
        <div th:replace="fragments/footer::footer"></div>
    </div>
</div>
</body>
</html>
