<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지 구상</title>
    <!--thymeleaf script, css 불러오기-->
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/layout.js"></script>
</head>
<body>
<div id="wrap">
    <div class="center">
        <!--thymeleaf header 불러오기-->
        <div th:replace="fragments/header::header"></div>
        <div class="my_info_wrap">
            <div class="my_info">
                <div class="photo_info">
                    <div class="photo">
                        <img src="" alt="">
                    </div>
                    <div class="photo_text">
                        <p>최연우</p>
                        <span>여</span>
                    </div>
                </div>
                <div class="my_info_box">
                    <div class="my_info_1">
                        <div class="point"><p>1000</p></div>
                        <div class="birthday"><p>1998.04.29</p></div>
                        <div class="phone"><p>010-4159-7647</p></div>
                    </div>
                    <div class="my_info_2">
                        <div class="address">
                            <p>서울시 마포구 상암동 월드컵로 42길 12</p>
                        </div>
                        <div class="grade">
                            <p>등급 : 일반</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit">
            <div class="title">
                <h2>마이페이지</h2>
            </div>
            <div class="edit_page">
                <a href="">
                    <div class="basket">
                        <p>장바구니   ></p>
                    </div>
                </a>
                <a href="">
                    <div class="order">
                        <p>주문내역   ></p>
                    </div>
                </a>
                <a href="">
                    <div class="user_edit">
                        <p>수정사항   ></p>
                    </div>
                </a>
            </div>
        </div>
        <!--thymeleaf footer 불러오기 -->
        <div th:replace="fragments/footer::footer"></div>
    </div>
</div>
</body>
</html>